body{
    margin:0;
    background: #2b1f12;
    font-family: "Cinzel", serif;
    min-height: 100vh;
      }
  
  .map{
    min-height: 100vh;
    padding: 40px 20px;
    background-image: url("./Image/Hintergrund_schatzkarte.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .content-card{
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px;
    background: rgba(255,255,255,0.35);
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.3);
  }
